#calc-container {
    width: 700px;
}

#display-container {
    background-color: gray;
    text-align: right;
    height: 100px;    
}

#display-container h4 {
    font-size: 48px;
    color: white;
    font-weight: 700;
    padding: 15px 10px;
}

.button-container {
    display: flex;
    width: 100%;
}

.button-container > * {
    width: 25%;
    height: 100px;
    color: black;
    font-size: 36px;
    border: 2px solid #5a5b5c;
}
