#calc-container {
    display: flex;
    flex-direction: column;
    width: 700px;
}

#display-container {
    background-color: gray;    
    height: 100px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

#display-container h4 {
    font-size: 48px;
    color: white;
    font-weight: 700;
    padding: 0 10px;
    margin: 0; 
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-sub-group {
    width: 100%;
    height: 100px;    
}

.undefined-button-  {
    width: 25%;
    height: 100px;
    border: 1.5px solid #4e4f4e;
    color: black;
    font-size: 36px;
}

.undefined-button-undefined {
    background-color: orange;
    width: 25%;
    height: 100px;
    color: black;
    font-size: 36px;
}

.true-button- {
    width: 50%;
    height: 100px;
    border: 1.5px solid #4e4f4e;
    color: black;
    font-size: 36px;
}
